$blue_bg: #22a7f0;
$blue_fonts: #26a1e4;
$bg-grey: #323232;
$bg-brown: #222222;
$font-grey: #353535;
$font-brown: #4b4b4b;
$brown: #161616;
$blue: #219ee2;

 @mixin flex {
     display: flex;
     justify-content: space-between;
 } 
 @mixin btn-font {
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    background-color: $blue_bg;
    color: #fff;
 }
 @mixin btn {
    border: 1px solid #fff;
    @include btn-font;
      
 }
 @mixin slider-btn {
    
    button {
        &.slick-prev,
        &.slick-next{
            width: 22px;
            height: 22px;
            background-color: $blue_fonts; 
                  
         }   
    }   
    .slick-next {
        right: 15px;
    }
    .slick-next:before {
        content: "\f105"; 
        position: absolute;  
        top: 0px;
        right: 6px;
    }
    .slick-prev {
        left: 1100px;
        
    }     
    .slick-prev:before {
        content: "\f104";
        position: absolute;  
        top: 0px;
        left: 6px;  
    }
    .slick-prev, .slick-next {
       
        top: 254px;
        display: block;
        cursor: none;
        border: none;
    }
    .slick-prev:before, .slick-next:before {
        font-family: 'icomoon';
        font-size: 20px;
        line-height: 20px;        
        color: white;
        cursor:pointer;      
    }
 }
 @mixin arrow-right {
    content: "\f105";
    font-family: 'icomoon';
    color: $blue_bg;
     
 }
  
  